<div class="row">
    <div class="col-md-12">
        <h4>Welcome to Server Manager 4.0</h4>
        <p>Manage your Servers and Users.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
            <button class="btn btn-primary" (click)="onLoadServers(5)">Load Servers</button>
    </div>
    <div class="col-md-2">
        <button class="btn btn-secondary" (click)="onLogin()">Login</button>
    </div>
    <div class="col-md-2">
            <button class="btn btn-secondary" (click)="onLogout()">Logout</button>
    </div>
    <div class="clearfix"></div>
</div>